version: '3.8'

services:
  scraper:
    build: . 
    environment:
      - DATABASE_URL=postgresql://user:password@db:5432/scraper_db
    depends_on:
      - db

  db:
    image: postgres:15-alpine  
    ports:
    - "5432:5432"
    environment:
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=scraper_db
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: